$background-color_1: rgb(173, 173, 173);

.bookingSection {
	// background-color: rgb(217, 217, 217);
	height: fit-content;
	background-size:cover;
	background-repeat: no-repeat;
	background-image: url("../../Assets/stackedWaveBgBook.svg");
	color: white;
}

#card {
	width: 80%;
	color: white;
	border-radius: 5px;
	background-color: rgb(0, 0, 0);
	label{
		color: black;
	}
}

.row {
	.btn {
		margin: 20px;
		width: max-content;
		font-size: larger;
	}
}

.modal-content {
	width: 100%;
}

.modal-footer {
	button {
		width: max-content;
	}
}

.modal-dialog {
	max-width: 800px;
}

.radios {
	width: fit-content;
	label{
		font-size: larger;
	}
}

.form-check {
	margin: 30px;
}

#btnSubmit {
	font-size: larger;
}

#btnBack {
	color: rgb(0, 0, 0);
	:hover {
		color: rgb(0, 82, 234);
	}
}

.container{
	height: fit-content;
}
