$background-color_1: rgb(173, 173, 173);

.bookingSection{
	background-color: black;
	color: white;
}

#card {
	width: 80%;
	background-color: lightsteelblue;
}
.row {
	.btn {
		margin: 20px;
		width: max-content;
		font-size: larger;
	}
}

.modal-content {
	width: 100%;
}

.modal-footer {
	button {
		width: max-content;
	}
}

.modal-dialog {
	max-width: 800px;
}

.radios {
	width: fit-content;
}

.form-check {
	margin: 30px;
}

#btnSubmit{
	font-size: larger;
}

#btnBack{
	color: white;
	:hover{
		color: greenyellow;
	}
}
