@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Rubik|Inter|Cinzel|Open+Sans:400italic,700italic,400,700);

$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;
$inter: "Inter", sans-serif;
$rubik: "Rubik", serif;
$cinzel: "Cinzel", sans-serif;

$color_1: white;
$background-color_1: rgb(53, 206, 117);
$background-color_2: rgb(255, 253, 253);

.homeSec {
	height: fit-content;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../Assets/team/layeredPeakBg3.svg");
	// background-color: rgb(217, 217, 217);
	animation: fadeCenter 2s ease 0s 1 normal none;
}

.title {
	font-family: $inter;
	text-align: center;
	text-transform: uppercase;
	color: black;
	animation: fadeCenter 2s ease 0s 1 normal none;
	h1 {
		font-family: $cinzel;
		font-weight: 600;
		// color: rgb(49, 71, 115);
		color: rgb(255, 255, 255);
	}
}

.card {
	width: 100%;
	height: auto;
	margin: 10px 0px;
}

#svgLogOut {
	margin: 10px;
}

@keyframes fadeCenter {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}