$color_1: white;
$background-color_1: rgb(53, 206, 117);
$background-color_2: rgb(255, 253, 253);

.homeSec{
	background-color: black;
}

.title {
	text-align: center;
	color: white;
}

.card {
	width: 100%;
	height: auto;
	margin: 10px 0px;
}

#svgLogOut {
	margin: 10px;
}