@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Inter|Open+Sans:400italic,700italic,400,700);

$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;
$inter: "inter", sans-serif;

$color_1: #fff;
$color_2: #008080;
$color_3: #6edfdf;
$background-color_1: #008080;
$background-color_2: #fff;
$background-color_3: #0a0a0a;
$border-bottom-color_1: #008080;

.loginSec {
	// background-color: rgb(49, 71, 115);
	height: 100vh;
	background-image: url("../../Assets//stackedPeakBg.svg");
	background-size: cover;
	background-repeat: no-repeat;
	animation: fadeCenter 1s ease-in 0s 1 normal forwards;
	.container {
		animation: fadeForward 1s ease 2s 1 normal forwards;
	}
}

.main-content {
	width: 55%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
	margin: 10rem 0px;
	display: flex;
}

.website__info {
	background-color: $background-color_1;
	border-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: $color_1;
}

.row {
	> h2 {
		color: $color_2;
	}
	.btnSubmit {
		margin: 10px;
	}
}

.card {
	font-family: $inter;
	border-radius: 15px;
	box-shadow: rgba(50, 50, 93, 1.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	h3 {
		font-family: $roboto-slab;
		text-transform: uppercase;
	}
}

.login_form {
	background-color: $background-color_2;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.form__input {
	width: 100%;
	border: 0px solid transparent;
	border-radius: 10px;
	border: 1px solid #aaa;
	padding: 1em 0.5em 0.5em;
	padding-left: 2em;
	outline: none;
	margin: 1.5em auto;
	transition: all 0.5s ease;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
		rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	&:focus {
		border-bottom-color: $border-bottom-color_1;
		box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
		border-radius: 4px;
	}
}

$color_1: #111827;
$color_2: #eff2f7;
$font-family_1: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
	"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$background-color_1: #ffffff;
$background-color_2: rgb(73, 174, 147);

.btnSubmit {
	background-color: $background-color_1;
	border: 1px solid rgb(209, 213, 219);
	border-radius: 0.7rem;
	box-sizing: border-box;
	color: $color_1;
	font-family: $font-family_1;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.25rem;
	padding: 0.75rem 1.5rem;
	text-align: center;
	text-decoration: none #d1d5db solid;
	text-decoration-thickness: auto;
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
		rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	&:hover {
		background-color: rgb(30, 131, 255);
		color: $color_2;
	}
	&:focus {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
	&:focus-visible {
		box-shadow: none;
	}
}

#remember_me {
	margin: 0 10px;
}
.container {
	.row-input {
		.row {
			margin: 20px;
		}
	}
}
.row-title {
	margin: 30px;
}
a {
	text-decoration: none;
	color: $color_3;
}
@media screen and (max-width: 640px) {
	.card {
		font-size: 80%;
	}
}

@media screen and (min-width: 642px) {
	.card {
		font-size: 100%;
	}
	.container {
		height: 120vh;
	}
}

@media screen and (min-width: 370px) {
	.container {
		height: 130vh;
	}
}

@keyframes fadeCenter {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeForward {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.divLoader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(49, 71, 115);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 9999;

	img {
		height: 100px;
		margin-bottom: 16px;
		animation: myAnim 500ms ease 0s 1 normal forwards;
	}

	.spinner {
		width: 5rem;
		height: 5rem;
	}
}
