@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Rubik|Inter|Open+Sans:400italic,700italic,400,700);

$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;
$inter: "Inter", sans-serif;
$rubik: "Rubik", serif;

.teamSec {
	height: fit-content;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../Assets/team/layeredPeakBg3.svg");
	.col {
		p {
			#mainTitle {
				font-weight: 600;
				letter-spacing: 0.5rem;
				text-shadow: -3px 4px 5px rgba(0, 0, 0, 0.6);
			}

			font-family: $rubik;
			font-size: larger;
		}
	}

	#devRow {
		font-family: $inter;
		color: rgb(255, 255, 255);
		img {
			transition: opacity 1s;
		}
		p {
			font-size: x-large;
		}
	}
}

#cardTeam {
	position: relative;
	border-radius: 19px;
}

#cardTeam-overlay {
	border-radius: 20px;
	position: relative;
}

.card-img-top {
	border-radius: 20px 20px 0 0;
	position: relative;
	z-index: 1;
}

#cardBody {
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.201);
	color: white;
	padding: 20px;
	z-index: 2;
}

@keyframes rollLeft {
	0% {
		opacity: 0;
		transform: translateX(-250px) rotate(-200deg);
	}

	100% {
		opacity: 1;
		transform: translateX(0) rotate(0deg);
	}
}

@keyframes slideRight {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
