.divLoader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(49, 71, 115);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 9999;

	img {
		height: 100px;
		margin-bottom: 16px;
		animation: myAnim 500ms ease 0s 1 normal forwards;
	}

	.spinner {
		width: 5rem;
		height: 5rem;
	}
}

@keyframes scaleBackwardCenter {
	0% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}
