@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Inter|Open+Sans:400italic,700italic,400,700);

$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;
$inter: "inter", sans-serif;

$color_1: black;
$color_2: rgb(253, 251, 251);
$color_3: rgb(3, 3, 3);
$color_4: rgb(255, 0, 0);
$background-color_1: rgb(14, 81, 112);

nav {
	background-color: rgb(49, 71, 115);
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

img {
	height: 10%;
	color: $color_1;
}

a {
	font-family: $inter;
	color: rgb(255, 255, 255);
	font-size: large;
	&:hover {
		color: rgb(188, 231, 255);
	}
	&:hover svg {
		color: rgb(165, 200, 253);
	}
}

.offcanvas {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../Assets/lowBg.svg");
}

.offcanvas-body {
	img {
		outline: 1px rgb(255, 255, 255) solid;
	}
	.col {
		border-radius: 10px;
	}
}

#profileDetails {
	background-color: rgba(128, 128, 128, 0.164);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
		rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
		rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
