$color_1: black;
$color_2: rgb(253, 251, 251);
$color_3: rgb(3, 3, 3);
$color_4: rgb(255, 0, 0);
$background-color_1: rgb(14, 81, 112);

img {
	height: 10%;
	color: $color_1;
}

a {
	color: $color_2;
	&:hover {
		color: rgb(93, 212, 152);
	}
}