@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Inter|Open+Sans:400italic,700italic,400,700);

$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", sans-serif;
$inter: "inter", sans-serif;

.navbar-brand {
	font-weight: bold;
	text-transform: uppercase;
}

#navAd {
	background-color: rgb(4, 20, 33);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

	.nav-link {
		font-family: $inter;
		font-size: larger;
		color: white;
	}
}
